# Compiled source #
###################
*.pyc
__pycache__/

# Pycharm Folder #
##################
.idea/*
.DS_Store
libs/*

# Scripts with notes #
######################
*notes.py

# Homeworks #
#############
homework/*
